@-webkit-keyframes animChargementLettre {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  30% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  40% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  70% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
    opacity: 1.0;
  }
  to {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
    opacity: 0;
  }
}

@keyframes animChargementLettre {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  30% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  40% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  70% {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
    opacity: 1.0;
  }
  to {
    -webkit-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
    opacity: 0;
  }
}

@-webkit-keyframes animChargementFond {
  from {
  }
  50% {
    opacity: 1.0;
  }
  to {
    opacity: 0;
  }
}

@keyframes animChargementFond {
  from {
  }
  50% {
    opacity: 1.0;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes animTitle {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes animTitle {
  from {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes animDescription {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animDescription {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site-branding .site-title,
.site-branding .site-description {
  padding: 11px;
  border-radius: 11px;
}

.site-branding .site-title {
  font-size: 3em;
  background-color: #ddd;
}

.site-branding .site-description {
  font-size: 1.5em;
  background-color: #aaa;
  color: white;
}

body {
  background-image: url("images/background.png");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

#post-1 > .entry-header > .entry-title {
  color: white;
  -webkit-transform: rotate3d(44, 5, 1, 23deg);
          transform: rotate3d(44, 5, 1, 23deg);
}

#recent-posts-2 > ul > li > a {
  color: red;
}

#recent-comments-2 > ul a {
  color: red;
}

#archives-2 > ul > li > a {
  color: red;
}

#categories-2 > ul > li > a {
  color: red;
}

#meta-2 > ul > li > a {
  color: red;
}

#post-1 a {
  color: white;
}

#post-1 path {
  color: #ddd;
}

.classePersoTexteExercice {
  font-size: 22px;
  padding: 3px;
}

.site-title {
  -webkit-animation: animTitle 4s forwards;
          animation: animTitle 4s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.site-description {
  opacity: 0;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-animation: animDescription 4s forwards;
          animation: animDescription 4s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.chargement {
  -webkit-animation: animChargementFond 2s forwards;
          animation: animChargementFond 2s forwards;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.chargementLettre {
  -webkit-animation: animChargementLettre 1.3s forwards;
          animation: animChargementLettre 1.3s forwards;
  color: white;
  font-size: 54px;
}
/*# sourceMappingURL=style.css.map */